.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  padding: 30px;
}

.cardContainer {
  position: relative;
  min-width: 300px;
  height: 300px;
}

.showCard {
  backdrop-filter: blur(50px);
  position: absolute;
  transition: transform 0.8s ease-in-out;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.flipCard {
  transform: rotateY(-180deg);
  transition: transform 0.5s ease-in-out;
  font-size: 14px;
  height: 300px;
}
.flippedBtn {
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  width: 20px;
  gap: 15px;
}

.cardImage {
  transform: rotateY(0);
  transition: 2s;
  width: 50%;
  border-radius: 10px;
}

.cardName {
  color: rgb(9, 52, 9);
  font-size: 18px;
  margin: 10px auto 0;
}

.cardButton {
  background-color: darkslategray;
  color: white;
  text-align: center;
  margin: 15px auto;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.moreInfoButton {
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
