.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  padding: 30px;
}

.cardContainer {
  position: relative;
  min-width: 300px;
}

.showCard {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: grey;
}

.cardImage {
  width: 50%;
  border-radius: 10px;
}

.cardName {
  color: rgb(9, 52, 9);
  font-size: 18px;
  margin: 10px auto 0;
}

.cardButton {
  background-color: darkslategray;
  color: white;
  text-align: center;
  margin: 15px auto;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.moreInfoButton {
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
