.mainImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage_image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin-block: 20px;
  border: 7px solid darkolivegreen;
}

.mainImage_image:hover {
  transform: scale(1.1);
  transition: 1.5s;
}

.selectBox {
  margin: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.selectBox_image {
  border-radius: 10px;
  width: 250px;
  height: 200px;
}

.bordered_image {
  border: 7px solid darkolivegreen;
  opacity: 0.8;
}
