.loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 7px solid darkolivegreen;
  width: 40%;
  height: 400px;
  margin: 0 auto;
  gap: 30px;
  border-radius: 30px;
position: relative;
}

.loginPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.confirmPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}



button {
  padding: 10px 30px;
  height: 50px;
  border-radius: 5px;
  font-weight: 600;
}
