.skeletonImage {
  border: none;
  width: 118px;
  height: 118px;
  background-color: #8e828263;
  border-radius: 10px;
}

.skeletonName {
  margin: 10px auto 0;
  width: 60%;
  height: 30px;
  background-color: #8e828263;
  border: none;
  border-radius: 5px;
  color: transparent;
}

.skeletonData {
  width: 80%;
  height: 30px;
  background-color: #8e828263;
  border: none;
  border-radius: 5px;
  color: transparent;
  margin: 20px auto;
}

.skeletonBtn {
  width: 50%;
  height: 40px;
  background-color: #8e828263;
  border: none;
  border-radius: 5px;
  color: transparent;
  margin: 15px auto;
}
